@charset "UTF-8";

*{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    color:#333333;
}
a{
    text-decoration:none;
    display: block;
}

main{
    width:1200px;
    margin:0 auto;
    position:relative; 
}


header{
    width:100%;
    height:100px;
    display:flex;
    justify-content: space-between;
    background:#0066ad;
}
.logo{
    width:30%;
    height:100%;
    display:flex; 
    align-items: center; 
    text-decoration-color: #ffffff;
}
.logo:link {
    color: #ffffff;
}
.logo:visited {
    color: #ffffff;
}

.logo > img {
    width:150px;
    height:50px;
}

.navi{
    width:70%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navi > li{
    width:100%;
    padding:20px 0;
    position:relative;
    cursor:pointer;
}
.navi > li:hover{background:rgba(255,255,255, 0.1) ;}
.navi > li > a{
    text-align: center;
    color:#ffffff;
}
.subMenu{
    display: none;
    width:100%;
    position:absolute;
    left:0;
    top:80px;
    z-index: 1;
    background:#333333;
}
.subMenu > li{
    width:100%;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.subMenu > li:hover{
    background: rgba(0,0,0, 0.5);
}
.subMenu a {
    color:#ffffff;
}

.contents{
    width: 100%;
    height:500px;
    padding:0;
    margin:10px 0;
    display:flex;
    justify-content: space-between;
    overflow: hidden;
}

table {
    width: 100%;
    height: 100%;
    text-align: center;
}

.imgs {
    width: 50%;
}

footer{
    width:100%;
    height:100px;
    background:#737373;
    display: flex;
    justify-content:space-between;
}
footer > div:nth-of-type(1) {width:20%;}
footer > div:nth-last-of-type(1) {width:60%;}
.footerLogo {display:flex; justify-content:center; align-items: center;}
.footerLogo img{width:100px;}
.footerGroup{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:0 20px;
}
.footerMenu{
	display: flex;
	justify-content: space-around;
    margin:0 100px;
}
.footerMenu p {
    color:#ffffff;
}
.footerCright {
    font-size:16px;
    text-align:center;
    color:#ffffff;
}
